#caption-carousel {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}

* {
    max-width: 100%;
    box-sizing: border-box;
}
